body {
  margin:0; padding:0;text-align:center;
  font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size:16px;color:white;
  background:black url('http://static.debayangupta.com/bg.jpg') no-repeat;
  background-size:cover;
  -webkit-background-size:cover;
   @media (max-width: @iphone-screen) {}
}
a {color:inherit;outline:0!important}

#header {margin-top:70px;font-size:84px}
#header a {text-decoration:none;}

#intro, #text {font-size:36px;margin:25px 200px 0px 200px;}
#text {
  font-size:20px;text-align:left;
  background:rgba(0,0,0,0.5);
  padding:20px;overflow:auto;
}
#intro a {
  -webkit-animation:glow 3s ease 0s infinite alternate;
  animation:glow 3s ease 0s infinite alternate;
  text-decoration:none;
}
@-webkit-keyframes glow { from {text-shadow:0 0 1px white;} to{text-shadow:0 0 8px white;} }
@keyframes glow { from{text-shadow:0 0 1px white;} to{text-shadow:0 0 8px white;} }

#text p.links {text-align:right;}
#text p.links a {
  background:black;color:white;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  opacity:0.7;
}
#text p.links a:hover {opacity:1}
#text p.links a.icon {background:none;padding:1px;}
#text p.links a.icon img {width:50px;vertical-align:middle}

#nav {position:absolute;bottom:0px;width:100%;}
#nav div {margin:0px 200px}
#nav table {width:100%}
#nav table td {width:33%}
#nav a {
  font-size:30px;
  width:150px;
  display:block;
  margin:0px auto 50px auto;
  text-decoration:none
}
#nav a img {width:75px;opacity:0.7}
#nav a span {display:block;visibility:hidden}
#nav a.selected img, #nav a:hover img {opacity:1}
#nav a.selected span, #nav a:hover span {visibility:visible}